<template>
  <ul class="products__list">
    <li
      :class="{ execute: product.isExecute }"
      @click="execute(product, index)"
      class="products__list-item"
      v-for="(product, index) in products"
      :key="index"
    >
      {{ product.name }}
    </li>
  </ul>
  <form @submit.prevent="addProduct" class="products__form">
    <input
      v-model="product"
      class="products__form-input"
      placeholder="Введите название продукта"
    />
    <button class="products__form-btn">Add</button>
  </form>
</template>

<script>
export default {
  data() {
    return {
      products: [],
      active: [],
      product: "",
    };
  },
  methods: {
    addProduct: function () {
      if (this.product) {
        this.products.unshift({ name: this.product, isExecute: false });
        localStorage.setItem("products", JSON.stringify(this.products));
        this.product = "";
      }
    },
    execute: function (prod, id) {
      if (prod.isExecute) {
        prod.isExecute = false;
        this.products.splice(id, 1);
        this.products.unshift(prod);
      } else {
        prod.isExecute = true;
        this.products.splice(id, 1);
        this.products.push(prod);
      }
      localStorage.setItem("products", JSON.stringify(this.products));
    },
  },

  beforeMount() {
    const productsLocal = localStorage.getItem("products");
    return (this.products = JSON.parse(productsLocal) ?? []);
  },
};
</script>

<style scoped>
.products__list {
  list-style: none;
  max-width: 400px;
  width: 100%;
  padding: 20px 10px;
  height: 85vh;
  overflow: auto;
}

.products__list-item {
  border: 2px solid black;
  border-radius: 10px;
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

.execute {
  text-decoration: line-through;
  text-decoration-color: red;
  border-color: red;
}

.products__form {
  display: flex;
  gap: 10px;
  padding: 30px;
  justify-content: center;
}
.products__form-input {
  padding: 10px;
  outline: none;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 7px;
}

.products__form-input:focus {
  border: 1px solid green;
}

.products__form-btn {
  outline: none;
  padding: 10px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 7px;
  cursor: pointer;
}
</style>
