<template>
  <div class="wrapper">
    <ProductsList />
  </div>
</template>

<script>
import ProductsList from "./components/ProductsList.vue";

export default {
  name: "App",
  components: {
    ProductsList,
  },
};
</script>

<style>
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>
